.account-settings {
	padding: 15px;
	z-index: 90;

	&__image-preview {
		position: absolute;
		display: flex;
		justify-content: center;
		width: 175px;
		height: 175px;
		overflow: hidden;
		border: 3px solid black;
		top: 25px;
		right: 45px;

		&__img-prev{
			width: 100%;
			height: 100%;
			object-fit: cover;
			image-rendering: pixelated;
		}

		&__span-img {
			position: absolute;
			top: 200px;
			right: 20px;
			background-color: white;
			color: black;
			border: 2px solid black;
			border-radius: 25px;
			padding: 20px;

			&::after {
				content: '';
				width: 30px;
				height: 30px;
				background-color: white;
				position: absolute;
				top: -20px;
				left: 15px;
				border-radius: 50%;
			}

			&::before {
				content: '';
				width: 15px;
				height: 15px;
				background-color: white;
				position: absolute;
				top: -30px;
				left: 35px;
				border-radius: 50%;
			}
		}
	}

	&__account-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		width: 100%;

		&__table-form {
			width: 100%;

			&__tb {
				line-height: 35px;
				width: 100%;

				&__tr {
					display: block;
					width: 100%;
					border-bottom: solid 1px $f-color;

					&__td-label {
						width: 170px;

						&__account-label {
							font-weight: bold;
							font-size: 1.1rem;
						}
					}

					&__td-input {
						width: 255px;

						&__account-input {
							background-color: $t-alt-color;
							border: none;
							font-size: 1rem;
							outline: none;
							border-radius: 5px;
							padding: 2px 10px;
							width: 100%;
							
							&:disabled {
								background-color: transparent;
							}
						}
					}

					&__td-btn {
						width: max-content;

						&__edit-btn {
							display: none;
							background-color: transparent;
							border: none;
							cursor: pointer;
							font-size: 1rem;
							color: $f-color;

							&__edit-span {
								color: $f-color;
							}

							&:hover {
								text-decoration: underline;
							}
						}

						.active-edit-btn {
							display: inline;
						}

						.active-act-btn {
							display: inline;
						}

						&__save-btn,
						&__cancel-btn {
							display: none;
							padding: 5px 10px;
							border-radius: 10px;
							cursor: pointer;
						}

						&__save-btn {
							@include bg-gradient($bg-color-th, $fi-color);
							border-top: solid 1px $fi-color;
							border-left: solid 1px $fi-color;
							border-right: solid 1px $fi-color;
							border-bottom: solid 1px $f-color;
							margin-right: 10px;
							margin-left: 10px;
						}

						&__cancel-btn {
							@include bg-gradient($bg-color-th, red);
							border: solid 1px red;
						}
					}
				}
			}
		}

		&__delete-btn {
			padding: 8px 13px;
			border-radius: 10px;
			cursor: pointer;
			@include bg-gradient($bg-color-th, red);
			border: solid 1px red;
			margin-right: auto;
		}
	}
}