.task-card {
	display: flex;
	background-color: $s-color;
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border: 1px solid $t-color;
	margin-bottom: 1rem;
	transition: all 0.3s ease;
	cursor: default;

	&:hover {
		border-color: $fi-color;
		box-shadow: 0 0 15px $fi-color;
		transform: scale(1.1);
	}

	&__checkbox-container {
		display: flex;
		width: 3rem;
		justify-content: center;
		align-items: start;

		&.facil {
			background-color: #10b981;
			color: #064e3b;

		}

		&.medio {
			background-color: #f59e0b;
			color: #78350f;
		}

		&.dificil {
			background-color: #ef4444;
			color: #7f1d1d;
		}

		input[type="checkbox"] {
			margin-top: 10px;
			border-radius: 50%;
			background-color: black;
		}
	}

	&__info-container {
		padding: 1rem;

		&__task-title {
			font-size: 1.25rem;
			font-weight: 600;
		}

		&__task-description {
			font-size: 0.875rem;
			color: $f-color;
		}
	}
}


.task-card.completed {
	opacity: 0.6;
}

.task-card.completed .task-card__task-title,
.task-card.completed .task-card__task-description {
	text-decoration: line-through;
}

/* Responsive design */
@media (max-width: 640px) {
	.task-card__task-details {
		flex-direction: column;
		align-items: flex-start;
	}

	.task-card__task-details__task-difficulty {
		margin-bottom: 0.5rem;
	}
}