.task-card {
	position: relative;
	display: flex;
	background-color: $s-color;
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border: 1px solid $t-color;
	transition: all 0.3s ease;
	cursor: default;
	min-width: 250px;
	max-width: 650px;

	&:hover {
		border-color: $fi-color;
		box-shadow: 0 0 15px $fi-color;
		transform: scale(1.02);
	}
	
	&.completed {
		opacity: 0.6;
		transform: scale(1);
	}

	&__checkbox-container {
		display: flex;
		width: 3rem;
		justify-content: center;
		align-items: start;

		&.facil {
			background-color: #10b981;
		}

		&.medio {
			background-color: #f59e0b;
		}

		&.dificil {
			background-color: #ef4444;
		}

		input[type="checkbox"] {
			margin-top: 8px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 20px;
			height: 20px;
			background-color: rgba(255, 255, 255, 0.3);
			border: solid 2px rgb(255, 255, 255);
			border-radius: 50%;
			outline: none;
			transition: all 0.3s ease;
			cursor: pointer;
			position: relative;

			&:hover {
				border-color: $fi-color;
				box-shadow: 0 0 15px $fi-color;
			}

			&:checked {
				background-color: $t-color;
				border-color: $t-color;

				&::after {
					content: '\2714';
					font-size: 14px;
					color: white;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	&__info-container {
		padding: 1.7rem 1rem 1rem 1rem;
		width: 100%;

		&__task-title {
			font-size: 1.25rem;
			font-weight: 600;
		}

		&__task-description {
			font-size: 0.875rem;
			color: $f-color;
		}
	}

	&__edit-btn,
	&__delete-btn {
		position: absolute;
		top: 8px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		opacity: 0;
		transition: all .5s ease-in-out;
		font-size: .8rem;
		color: white;
		width: 20px;
		height: 20px;
		
		svg {
			width: 20px;
			height: 20px;
			fill: white;

			&:hover {
				fill: $fi-color;
			}
		}
	}

	&__edit-btn {
		right: 45px;
	}

	&__delete-btn {
		right: 15px;
	}

	&:hover .task-card__edit-btn,
	&:hover .task-card__delete-btn {
		opacity: 1;
	}
}




.task-card.completed .task-card__task-title,
.task-card.completed .task-card__task-description {
	text-decoration: line-through;
}

/* Responsive design */
@media (max-width: 640px) {
	.task-card__task-details {
		flex-direction: column;
		align-items: flex-start;
	}

	.task-card__task-details__task-difficulty {
		margin-bottom: 0.5rem;
	}
}