.task-card {
	background-color: $s-color;
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border: 1px solid $t-color;
	margin-bottom: 1rem;
	padding: 1rem;
	transition: all 0.3s ease;
	cursor: default;

	&:hover {
		border-color: $fi-color;
		box-shadow: 0 0 15px $fi-color;
		transform: scale(1.1);
	}

	&__task-title {
		font-size: 1.25rem;
		font-weight: 600;
		color: white;
		margin: 0 0 0.5rem 0;
	}

	&__task-description {
		font-size: 0.875rem;
		color: #d8b4fe;
		margin-bottom: 1rem;
	}

	&__task-details {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__task-difficulty {
			font-size: 0.75rem;
			padding: 0.25rem 0.5rem;
			border-radius: 9999px;
			font-weight: 600;

			&.Facil {
				background-color: #10b981;
				color: #064e3b;
			}
		}

	}
}






.task-card__task-details__task-difficulty.medium {
	background-color: #f59e0b;
	color: #78350f;
}

.task-card__task-details__task-difficulty.hard {
	background-color: #ef4444;
	color: #7f1d1d;
}

.task-card__task-details label {
	display: flex;
	align-items: center;
	color: #d8b4fe;
	font-size: 0.875rem;
}

.task-card__task-details input[type="checkbox"] {
	margin-right: 0.5rem;
}

.task-card.completed {
	opacity: 0.6;
}

.task-card.completed .task-card__task-title,
.task-card.completed .task-card__task-description {
	text-decoration: line-through;
}

/* Responsive design */
@media (max-width: 640px) {
	.task-card__task-details {
		flex-direction: column;
		align-items: flex-start;
	}

	.task-card__task-details__task-difficulty {
		margin-bottom: 0.5rem;
	}
}