.form-task-container {
  position: fixed;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
  z-index: 200;
  top: 25%;

  h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }

  &__form-task {
    &__form-row {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      &__label-task {
        font-weight: bold;
        font-size: 14px;
        flex-basis: 35%;
      }

      &__input-task,
      &__select-task,
      &__textarea-task,
      &__input-task-objective {
        flex-grow: 1;
        background-color: $t-alt-color;
        padding: 8px;
        border-radius: 8px;
        border: none;
        outline: none;

        &:hover ~ .form-task-container__form-task__form-row__delete-objective {
          opacity: 1;
        }
      }

      &__textarea-task {
        resize: vertical;
      }

      &__input-task[type="number"] {
        max-width: 100px;
      }

      &__delete-objective {
        position: absolute;
        right: 10px;
        width: 15px;
        height: 15px;
        background-color: transparent;
        border: none;
        opacity: 0;
        transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        svg {
          fill: white;
          width: 15px;
          height: 15px;

          &:hover {
            fill: $f-color;
          }
        }
      }
    }

    &__submit-btn {
      @include bg-gradient($s-color, $t-color);
      border: solid 1px $f-color;
      font-size: 1rem;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
      width: 100%;
      margin-top: 20px;
    }
  }
}

.success {
  color: green;
  margin-bottom: 10px;
}

.error-list {
  color: red;
  list-style-type: none;
  padding: 0;
}