.header {
	position: relative;
	display: flex;
	width: 98%;
	max-height: 250px;
	padding: 15px 15px 15px 15px;
	border-radius: 10px;
	border: 2px solid $fi-color;
	box-shadow:	0 0 10px $fi-color;
	margin-top: 65px;
	overflow: hidden;
	z-index: 90;

	&::after {
		position: absolute;
		content: "";
		width: 100%;
		min-height: 100%;
		z-index: 10;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		@include bg-gradient($bg-color-th, $fi-color);
		opacity: .5;
	}

	&__bg-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}

	&__user-container {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 1fr 1fr;
		width: max-content;
		height: 175px;
		overflow: hidden;
		column-gap: 10px;
		justify-content: center;
		align-items: center;

		&__user-image-container {
			display: flex;
			grid-column: 1;
			grid-row: 1 / span 2;
			align-items: center;
			justify-content: center;
			height: 175px;
			width: 175px;
			overflow: hidden;
			border: 3px solid $s-color;
			z-index: 50;

			&__user-image {
				height: 100%;
				width: 100%;
				object-fit: cover;
				image-rendering: pixelated;
			}
		}

		&__bars {
			grid-column: 2;
			grid-row: 2;
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;
			align-items: center;
			row-gap: 10px;
			column-gap: 3px;
			margin-bottom: auto;

			&__hp-title {
				grid-column: 1;
				grid-row: 1;
			}

			&__exp-title {
				grid-column: 1;
				grid-row: 2;
			}

			&__hp-title,
			&__exp-title {
				font-family: $f-font;
				font-weight: bolder;
				font-size: 1.3rem;
				color: white;
				z-index: 90;
				@include neon;
			}

			&__hp-bar-container {
				grid-column: 2;
				grid-row: 1;
				position: relative;
				background-color: $bg-color;
				height: 25px;
				width: 280px;
				border: 2px solid $s-color;
				z-index: 20;

				&__hp-bar {
					position: absolute;
					@include bg-gradient($fi-color, $bg-color-th);
					height: 100%;
					top: 0;
					left: 0;
					transition: all 1s ease-in-out;
				}
			}
			
			&__exp-bar-container {
				grid-column: 2;
				grid-row: 2;
				position: relative;
				background-color: $bg-color;
				height: 25px;
				width: 280px;
				border: 2px solid $s-color;
				overflow: hidden;
				z-index: 20;
				
				&__exp-bar {
					position: absolute;
					@include bg-gradient($fi-color, $bg-color-th);
					height: 100%;
					top: 0;
					left: 0;
					transition: all 1s ease-in-out;
				}
			}
		}

		&__user-info {
			z-index: 20;
			grid-column: 2;
			grid-row: 1;

			&__display-name,
			&__username,
			&__separator,
			&__user-level {
				color: white;
				font-family: $f-font;
			}

			&__username,
			&__user-level {
				font-size: .9rem;
			}

			&__display-name {
				font-size: 1.6rem;
				letter-spacing: 1px;
				line-height: 20px;
			}

			&__separator {
				margin: 0 5px;
			}
		}
	}
}