.header {
	position: relative;
	display: flex;
	width: 98%;
	max-height: 250px;
	padding: 15px 15px 15px 15px;
	border-radius: 10px;
	border: 2px solid $fi-color;
	@include bg-blur;
	box-shadow:	0 0 10px $fi-color;
	margin-top: 65px;
	overflow: hidden;
	z-index: 90;

	&__bg-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 10;
	}

	&__user-container {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		width: max-content;
		height: 175px;
		overflow: hidden;
		column-gap: 10px;
		justify-content: center;

		&:nth-last-child(1) {
			align-items: start;
		}

		&:nth-child(1) {
			align-items: end;
		}

		&__user-image-container {
			display: flex;
			grid-column: 1;
			grid-row: 1 / span 2;
			align-items: center;
			justify-content: center;
			height: 175px;
			width: 175px;
			overflow: hidden;
			border: 3px solid $s-color;
			z-index: 50;

			&__user-image {
				height: 100%;
				width: 100%;
				object-fit: cover;
				image-rendering: pixelated;
			}
		}

		&__bars {
			grid-column: 2;
			grid-row: 2;
			display: flex;
			flex-direction: column;
			gap: 16px;


			&__hp-bar-container {
				position: relative;
				background-color: $bg-color;
				height: 25px;
				width: 280px;
				border: 2px solid $s-color;
				z-index: 20;

				&__hp-bar {
					position: absolute;
					background: linear-gradient($fi-color, rgba(0, 0, 0, 0.8));
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
			}

			&__exp-bar-container {
				position: relative;
				background-color: $bg-color;
				height: 25px;
				width: 280px;
				border: 2px solid $s-color;
				overflow: hidden;
				z-index: 20;

				&__exp-bar {
					position: absolute;
					background: linear-gradient($fi-color, rgba(0, 0, 0, 0.8));
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
				}
			}
		}

		&__user-info {
			z-index: 20;
			grid-column: 2;
			grid-row: 1;

			&__display-name,
			&__username,
			&__separator,
			&__user-level {
				color: white;
				font-family: $f-font;
			}

			&__username,
			&__user-level {
				font-size: .9rem;
			}

			&__display-name {
				font-size: 1.6rem;
				letter-spacing: 1px;
				line-height: 20px;
			}

			&__separator {
				margin: 0 5px;
			}
		}
	}
}