.login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: url('images/bg2.jpg') no-repeat;
	background-position: center;
	background-size: cover;

	&__centered-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		@include bg-blur;
		padding: 2rem;
		border-radius: 10px;

		&__title-container {
			display: flex;
			justify-content: center;
			align-items: center;

			&__title {
				font-family: $f-font;
				color: white;
				font-weight: 200;

				& span {
					@include neon;
				}
			}
		}

		&__login-form-container {
			display: flex;
			justify-content: center;
			align-items: center;

			&__login-form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 16px;

				&__login-input {
					background-color: transparent;
					border: 1px solid white;
					padding: 10px 40px 10px 10px;
					width: 300px;
					font-family: $f-font;
					letter-spacing: 1px;
					font-size: 1rem;
					outline: none;
					color: white;
					border-radius: 2px;
					font-weight: 200;
					
					&::placeholder {
						color: white;
						font-weight: 200;
					}
				}

				&__login-btn {
					width: 300px;
					padding: 10px;
					background-color: white;
					border: none;
					outline: none;
					cursor: pointer;
					border-radius: 2px;
					
					&__span {
						font-size: 1rem;
						font-family: $f-font;
						color: $fi-color;

					}
				}

				&__login-link {
					text-decoration: none;
					font-family: $f-font;
					font-weight: 200;
					font-size: .9rem;
					color: $f-color;
					
					& strong {
						color: $f-color;
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}