.navbar {
	position: fixed;
	display: flex;
	align-items: center;
	@include bg-gradient($bg-color, $fi-color);
	width: 98%;
	top: 10px;
	left: 0;
	right: 0;
	height: 45px;
	padding: 0 25px;
	z-index: 100;
	border-radius: 10px;
	margin: 0 auto;

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		&__list-container,
		&__list-container-two {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: auto;

			&__nav-list,
			&__nav-list-two {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 16px;
				list-style-type: none;

				&__list-item {
					display: flex;
					align-items: center;
					justify-content: center;
					@include bg-gradient($bg-color-th, $fi-color);
					border-bottom: 2px solid $f-color;
					border-top: 1px solid $fi-color;
					border-radius: 10px;
					padding: 3px 15px;
					cursor: pointer;

					&__item {
						text-decoration: none;
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						font-family: $f-font;
						font-size: 1.1rem;
						color: white;
					}
				}

				&__list-item-two {
					display: flex;
					width: 25px;
					height: 25px;
					cursor: pointer;

					svg {
						height: 25px;
						width: 25px;
						fill: white;
					}
				}
			}
		}
	}
}