/* 1st Color Set */

$f-color: #D8B0EC;
$ne-color: #E0AFFF;
$s-color: #120825;
$t-color: #53418C;
$fo-color: #380E32;
$fi-color: #AA64D1;

/* 2nd color set */

$sf-color: #01030D;
$ss-color: #04A79B;
$sne-color: #7CFFF2;
$st-color: #010609;
$sfo-color: #03342E;
$sfi-color: #020E0D;

/* background colors */

$bg-color: #28282833;
$bg-color-two: #52418c80;
$bg-color-th: #000000cc;